
<footer>
    <section class="sec-items"> 
        <article>
            <ul>
                <li><a href="#/contacto">Contacto</a> </li>
            </ul>
        </article>



        <article class="copyright">
            <ul class="redes">
                <li><a href="#/derechos"> Derechos reservados - 2022 </a> </li>
             
        </article>

        
        <article>
            <h3> Síguenos!</h3>
            <ul class="redes">
                <li><a href="#/whatsapp"><i class="fab fa-whatsapp"></i>  </a> </li>
                <li><a href="#/facebook"><i class="fab fa-facebook"></i>  </a> </li>
                <li><a href="#/instagram"><i class="fab fa-instagram"></i> </a> </li>
            </ul>
        </article>

    </section>


</footer>  

<script type="module" src="/js/categories.js"></script>

