
<footer>
    <section class="sec-items"> 
        <article>
            <ul>
                <li><a href="#/atencion-cliente">Atención al cliente</a> </li>
                <li><a href="#/preguntas-frecuentes">Preguntas Frecuentes</a> </li>
                <li><a href="#/locales"> Nuestros Locales</a> </li>
            </ul>
        </article>


        <article>
            <ul>
                <li> <button class="baja-newsletter"> Baja Newsletter</button></li>
                <li><a href="#/trabaja-nosotros">Trabajá con Nosotros</a> </li>
                <li><a href="#/terminos-condiciones">Términos y condiciones</a> </li>
            </ul>
        </article>


        
        <article>
            <h3> Síguenos!</h3>
            <ul class="redes">
                <li><a href="#/whatsapp"><i class="fab fa-whatsapp"></i>  </a> </li>
                <li><a href="#/facebook"><i class="fab fa-facebook"></i>  </a> </li>
                <li><a href="#/instagram"><i class="fab fa-instagram"></i> </a> </li>
            </ul>
        </article>

    </section>

    <article class="copyright">
        Derechos reservados - 20XX
    </article>

</footer>  

<script type="module" src="/js/categories.js"></script>

