<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesone -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Google font (Roboto) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_Home.css">

    <title>Bienvenid@s</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <%- include('partials/navbar')%>
    
    </header>

    <main>
        <section class="carousel">
                    
            <div class="carousel-container">

                <!-- imagen & texto -->
                <div class="mySlides fade">
                    <div class="title-slide"> Oferta de la semana</div>
                        <img src="/images/Bocina.png">
                    
                </div>
            
                <div class="mySlides fade">
                    <div class="title-slide">Oportunidad</div>
                         <img src="/images/Iphone.png" >
                  
                </div>
            
                <div class="mySlides fade">
                    <div class="title-slide">Nuevos lanzamientos</div>
                        <img src="/images/Laptop.png">
                    
                </div>
            
            </div>
            
        </section>
        
        <div class="section-separador">
            <p class="text-separador"> 
                <i class="fas fa-tag"></i>
                Descuentos
            </p>
            <hr class="hr-section">
        </div>

        <section class="discount">

           <!-- <div class="product-card">
                
               
               <article>
                    <img src="/images/Bocina.png" alt="Bocina">
                    <div class="body-card">
                        <p class="title-card"> Bocina</p>
                        <p class="price-card"> u$s 24</p>
                    </div>
                    <p class="desc-card"> Bocina 15 db</p>
               </article>
               <div class="add-card">
                   <button class="add-card-btn"> 
                   <i class="fas fa-plus"> </i>
                   <p>Comprar</p>                
                </button>
                </div>
           </div>


           <div class="product-card">
               <article>
                    <img src="/images/Iphone.png" alt="Iphone">
                    <div class="body-card">
                        <p class="title-card"> Iphone 11" camaras Ultima generacion</p>
                        <p class="price-card"> u$s 240</p>
                    </div>
                    <p class="desc-card"> Iphone 11" 3 camaras Ultima generacion con todos los accesorios incluidos. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </article>
                <div class="add-card">
                <button class="add-card-btn"> 
                    <i class="fas fa-plus"></i>
                    <p> Comprar</p>
                </button>
                </div>
                

            </div>

            <div class="product-card">
                <div class="img-card">
                <img src="/images/Sprite.png" alt="Sprite">
                </div>
                <article>
                    <div class="body-card">
                        <p class="title-card"> Sprite</p>
                        <p class="price-card"> u$s 2</p>
                    </div>
                    <p class="desc-card"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsum quasi eligendi temporibus a beatae tempore.</p>
                </article>
                <div class="add-card">
                <button class="add-card-btn"> 
                    <i class="fas fa-plus"></i>
                    <p> Comprar</p>
                </button>
                </div>
                

            </div>


            <div class="product-card">
                <div class="img-card">
                <img src="/images/Tomates.png" alt="Tomates">
                </div>
                <article>
                    <div class="body-card">
                        <p class="title-card"> Tomates Ultima generacion</p>
                        <p class="price-card"> u$s 12</p>
                    </div>
                    <p class="desc-card"> Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                </article>
                <div class="add-card">
                <button class="add-card-btn"> 
                    <i class="fas fa-plus"></i>
                    <p> Comprar</p>
                </button>
                </div>
                

            </div> -->


  

        </section>

        <div class="section-separador">
            <p class="text-separador"> 
                <i class="fas fa-tag"></i>
                Destacados
            </p>
            <hr class="hr-section">
        </div>


        <section class= "destacados">
            <div class="product-card">
                <div class="img-card">
                <img src="/images/Bocina.png" alt="Bocina">
                </div>
                 <article>
                     <div class="body-card">
                         <p class="title-card"> Bocina</p>
                         <p class="price-card"> u$s 24</p>
                     </div>
                     <p class="desc-card"> Bocina 15 db</p>
 
                </article>
                <div class="add-card">
                <button class="add-card-btn"> 
                    <i class="fas fa-plus"></i>
                    <p> Comprar</p>
                </button>
                </div>
                
 
            </div>
 
 
            <div class="product-card">
                <div class="img-card">
                 <img src="/images/Iphone.png" alt="Iphone">
                 </div>
                 <article>
                     <div class="body-card">
                         <p class="title-card"> Iphone 11" camaras Ultima generacion</p>
                         <p class="price-card"> u$s 240</p>
                     </div>
                     <p class="desc-card"> Iphone 11" 3 camaras Ultima generacion con todos los accesorios incluidos. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                 </article>
                 <div class="add-card">
                 <button class="add-card-btn"> 
                     <i class="fas fa-plus"></i>
                     <p> Comprar</p>
                    </button>
                    </div>
                 
 
             </div>
 
             <div class="product-card">
                <div class="img-card">
                 <img src="/images/Sprite.png" alt="Sprite">
                 </div>
                 <article>
                     <div class="body-card">
                         <p class="title-card"> Sprite</p>
                         <p class="price-card"> u$s 2</p>
                     </div>
                     <p class="desc-card"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsum quasi eligendi temporibus a beatae tempore.</p>
                 </article>
                 <div class="add-card">
                 <button class="add-card-btn"> 
                     <i class="fas fa-plus"></i>
                     <p> Comprar</p>
                    </button>
                    </div>
                 
 
             </div>
 
 
             <div class="product-card">
                <div class="img-card">
                 <img src="/images/Tomates.png" alt="Tomates">
                 </div>
                 <article>
                     <div class="body-card">
                         <p class="title-card"> Tomates Ultima generacion</p>
                         <p class="price-card"> u$s 12</p>
                     </div>
                     <p class="desc-card"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi ipsum quasi eligendi temporibus a beatae tempore.</p>
                 </article>
                 <div class="add-card">
                 <button class="add-card-btn"> 
                     <i class="fas fa-plus"></i>
                     <p> Comprar</p>
                    </button>
                    </div>
                 
 
             </div>
 
 
 
        </section>
        
    </main>
    
    <section class="newsletter">
        <p><i class="far fa-smile-wink"></i>  Suscríbete a nuestras novedades:</p>

        <form action="#" method="post" class="form-newsletter"> 
            <label for="nombre-newsletter">Nombre:</label>
            <input type="text" name="nombre-newsletter" id="nombre-newsletter">

            <label for="email-newsletter">Email:</label>
            <input type="email" name="email-newsletter" id="email-newsletter">
        </form>


    </section>


<!-- Footer -->
<%- include('partials/footer') %>
    
</body>


<!-- Scripts -->
<script type="module" src="/js/base.js"></script>

<script type="module" src="/js/carousel-home.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>


</html>