<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesone -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Google font (Roboto) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <!-- <link rel="stylesheet" href="/css/styles_products.css"> -->
    <link rel="stylesheet" href="/css/styles_Home.css">

    <title>La Galeria</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <%- include('partials/navbar')%>
    
    </header>

    <main>
        <section class="carousel">
                    
            <div class="carousel-container">

                <!-- imagen & texto -->
                <div class="mySlides fade">
                        <img src="/images/common/galery.jpg">
                    
                </div>
            
                <div class="mySlides fade">
                         <img src="/images/Iphone.png" >
                  
                </div>
            
                <div class="mySlides fade">
                        <img src="/images/Laptop.png">
                    
                </div>
            
            </div>
            
        </section>
        
        <div class="section-separador">
            <p class="text-separador"> 
                <i class="fas fa-tag"></i>
                Bienvenidos:)
            </p>
            <hr class="hr-section">
        </div>


    </main>
    

<!-- Footer -->
<%- include('partials/footer') %>
    
</body>


<!-- Scripts -->
<script type="module" src="/js/base.js"></script>
<script type="module" src="/js/carousel-home.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>


</html>