
/* Variables */
:root {
    /* Colores */

    /* Dark Mode */
    --menu-color: rgb(17, 238, 238);
    --footer-color: rgb(55, 53, 51);
    --modal-secondary-color: rgba(55, 53, 51, 0.85);
    
    --font-color--dark-gray: rgb(55, 53, 51);
    --font-color--dark: rgba(55, 53, 51, 0.89);
    --font-color--dark-destacado: rgb(17, 238, 238);

    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;


    --red-color: rgb(235, 34, 34);
    --white-color:#FFF;


    /* Variables */
    --menu-mobile-height : 15vh;
  }




/******************************* main *******************/
main{
width: 100%;
margin: auto;
}


.home-img{
  height:auto;
  /* margin: auto; */
  text-align:center;
  position:relative;
}

.home-img img{
  width: 100vw;
  height: auto;
}

.home-main-text{  
  position: absolute;
  margin: auto;
  top: 40%;
  left:0;
  right:0;
  bottom:0;
  font-size: 3rem;
  text-align: center;
  color:grey;
  font-family:  Neue Haas Grotesk;
}
/******************************* footer *******************/



/***************************** MEDIA QUERIES *****************************/

/******* tablets   ***************/
@media (min-width:600px){
/******************** header *********************/
/******************** main *********************/
.home-img{
  width: 100vw;
  height: auto;
}


.home-main-text{  
  font-size: 5rem;
}

/******************** footer *********************/
}

/******* Desktop   ***************/

@media (min-width:961px){
/******************** header *********************/
/******************** main *********************/
/******************** footer *********************/

}