* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}


/* Variables */
:root {
    /* Colores */
    --menu-color: rgb(113, 4, 157);
    /* --menu-color : rgba(93, 191, 189,1); */
    --footer-color: rgb(55, 53, 51);
    --modal-secondary-color: rgba(55, 53, 51, 0.85);
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;

    /* Variables */
    --menu-mobile-height : 15vh;
  }

  
body{
    /* Esto permite el sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**************** Header *******************/


/********* navbar ***********/
nav hr{ /* general a cualquier navbar */
    width: 90%;
}

/*** menu mobile ***/
.menu-mobile{
    list-style-type: none;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height:  var(--menu-mobile-height);
    width: 100vw;
    background-color: honeydew;  
    align-items: center;
   
}

.item-mobile{
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}
.item-mobile a{
    text-decoration: none;
}

.item-mobile .item-descripcion{
    display: block !important;  
}

/*** menu superior ***/
.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--menu-color);
    height: 8vh;
    font-size: 1.2rem;
    align-items: center;
}

.item{
    margin-top: 5px;
    width:100%;
    text-align: center;
    flex-grow: 0;  
}

/* search */
.item-search{
    flex-grow: 12;
    /* display: block !important; */
}


.searchContainer{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    width: 40%vw;
    margin-right: 5px;
  
}

.fa-search{
    padding: 1px;
    margin-right: 2px;
    font-size: 1.2rem;
}

.btn-search{
    background-color: var(--menu-color);
    color: white; 
    font-size: 1.2rem;
    border-radius: 5px;
    flex-grow: 1;
    
    
}

.searchContainer input{    
    border: 0;
    border-radius: 5px;
    flex-grow:2;
    font-size: 1.2rem;
}


/* end search */

.item-desktop{
    display: none;
}



.item a{
    text-decoration: none;
    color: white;

}

.item span{
    display: block;
} 

.item-descripcion{
    display: none !important; /* sin !important, tiene mas peso el selector .item span {...} */
}

.logo{
    width: 20px;
    height: auto;
   
    
}
/************ Menu lateral Fullscreen ************/
.panel-categorias{
    /*
    Haciendo position : fixed y seteando top bottom left right ESTIRO el panel, ocupando .
    incluso header y footer. 
    - sin declarar position, y haciendo height : 100vh, width:100vw no cubro header y footer. 
    width: 100vw;
    height: 100vh; 
    */
    position: fixed;
    top:0;          
    left:0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color : var(--modal-secondary-color);
    transition: transform 0.3s ease;
    transform: translate(0, -100%);
    

}

.panel-categorias.is-active{
    transform: translate(0,0);
}

.menu-categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.categoria{
    color: white;
    width: 100%;
    padding: 1.2rem;
    text-decoration: none;
    transition: all 0.4s ease;
}

.menu-categorias a:hover {
    background-color: var(--menu-color);
}


form{
    text-align: center;
    width: 50%;
    margin: auto;
}




/*************************** Footer **************************/
footer{
    padding: 5px;
    padding-bottom: var(--menu-mobile-height); /* Es la medida del menu-mobile*/ 
    order: 1;
    text-align: center;
    background-color: var(--footer-color);
    color:white;   
    margin-top: auto;
}

.sec-items{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

}

.copyright{
    margin: 5px auto;
}



/***************************** MEDIA QUERIES *****************************/



/******* tablets   ***************/
@media (min-width:600px) {
/******************** header *********************/
.menu-mobile{
    display: none;
}


.item-desktop{
    display: inline;
}

.item span{
    display: block ;
}
.item-descripcion{
     display: inline !important; 
}

.logo{
    width: 30px;
    height: auto;
}

/******************** main *********************/

/******************** footer *********************/
}



/******* Desktop  ***************/
@media (min-width:961px){
    /******************** header *********************/
    .item span{
        display: inline ;
    }
    .item-descripcion{
         display: inline !important; 
    }


    .logo{
        width: 20px;
        height: auto;
    }
    /******************** main *********************/
    
    /******************** footer *********************/
    }