/* Variables */
:root {
    /* Colores */

    /* Dark Mode */
    --menu-color: rgb(17, 238, 238);
    --footer-color: rgb(55, 53, 51);
    --modal-secondary-color: rgba(55, 53, 51, 0.85);
    
    --font-color--dark-gray: rgb(55, 53, 51);
    --font-color--dark: rgba(55, 53, 51, 0.89);
    --font-color--dark-destacado: rgb(17, 238, 238);

    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;


    --red-color: rgb(235, 34, 34);
    --white-color:#FFF;


    /* Variables */
    --menu-mobile-height : 15vh;
  }


.products{
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;
    margin: auto;
}



.add-link {
    text-decoration: none;
    color: var(--font-color--dark-gray);
}