<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesone -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Google font (Roboto) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_ProductCart.css">

    <title>DigiMart Carro de Compras</title>

</head>
<body>
    <header>
        <!-- Navbar -->
        <%- include('../partials/navbar')%>
    
    </header>
    <main>  
        <section>
            <button class="add-card-btn" ><a href="./"> <i class="fas fa-arrow-left"> </i></a></button>
        </section>
        
        <h4>Contenido de tu carrito de compras</h4>
    
        <section class="Resumen_Compras">
            <p class="ResumenCarrito">Total de Compras: <p id="total"></p></p>
            <h6 class="IVA">Los precios ya incluyen IVA</h6>
        <div class="IconosDePagos">
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
        <button class="BotonPagar" type="submit">Proceder al pago</button>  

        </section>


        <h5>Resumen de articulos:</h5>
    <div class="ProductosCarrito">
    </div>

    <div class="ProductosCarrito">
    <button class="add-card-btn" ><i class="fas fa-trash-alt" id="ico-vaciar"> Vaciar carrito</i></button>
    </div>
    </main>
<!-- Footer -->
<%- include('../partials/footer') %>

</body>


<!-- Scripts -->

<script src="/js/borrar-item.js"></script>
<script type="module" src="/js/base.js"></script>
<script type="module" src="/js/carrito.js"></script>


</html>